<div class="modal fade" id="failureModal" tabindex="-1" role="dialog" aria-labelledby="failureModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <img src="{{ asset('build/images/gif/warm.gif') }}" class="img-fluid">
            </div>
            <div class="modal-body text-center">
                Sorry, your request was not executed. Please try again later
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>